<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>SpringSecurity: 共通鍵暗号化・復号</title>
</head>
<body>
    <h1>SpringSecurity: 共通鍵暗号化・復号</h1>
    <h2>GCM(バイナリ)</h2>
    <ul>
        <li><p>暗号化前テキスト：<span th:text="${sampleText}"></span></p></li>
        <li><p>暗号化後テキスト：<span th:text="${gcmEncryptedBinaryData}"></span></p></li>
        <li><p>復号後テキスト：<span th:text="${gcmDecryptedText}"></span></p></li>
    </ul>
    <h2>CBC(バイナリ)</h2>
    <ul>
        <li><p>暗号化前テキスト：<span th:text="${sampleText}"></span></p></li>
        <li><p>暗号化後テキスト：<span th:text="${cbcEncryptedBinaryData}"></span></p></li>
        <li><p>復号後テキスト：<span th:text="${cbcDecryptedText}"></span></p></li>
    </ul>
    <h2>GCM方式</h2>
    <ul>
        <li><p>暗号化前テキスト：<span th:text="${gcmText}"></span></p></li>
        <li><p>暗号化後テキスト：<span th:text="${encryptedData}"></span></p></li>
        <li><p>復号後テキスト：<span th:text="${gcmDecrypted}"></span></p></li>
    </ul>
    <h2>CBC方式</h2>
    <ul>
        <li><p>暗号化前テキスト：<span th:text="${cbcText}"></span></p></li>
        <li><p>暗号化後テキスト：<span th:text="${encryptedCbcData}"></span></p></li>
        <li><p>復号後テキスト：<span th:text="${decryptedCbcData}"></span></p></li>
    </ul>
</body>
</html>