<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>暗号化・復号化</title>
</head>
<body>
    <h1>暗号化・復号化</h1>
    <ul>
        <li>
            <p>暗号化前テキスト：<span th:text="${sampleText}"></span></p>
        </li>
        <li>
            <p>暗号化後テキスト：<span th:text="${encryptBytes}"></span></p>
        </li>
        <li>
            <p>復号化後テキスト：<span th:text="${decryptText}"></span></p>
        </li>
        <li th:if="${error}">
            <p th:text="${error}" style="color:red;"></p>
        </li>
    </ul>
</body>
</html>