<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>PDF出力</title>
    <style>
        body { font-family: 'NotoSansJP', sans-serif; }
        h1 { text-align: center; }
        .download { display: flex; }
        form { margin: 0 auto; }
        button {
            background-color: orange;
            border: none;
            padding: 10px;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
        }
        button:hover { box-shadow: none; }
    </style>
</head>
<body>
    <h1>PDF出力</h1>
    <div class="download">
        <form th:action="@{/download-pdf}" method="get">
            <button type="submit">PDFをダウンロード</button>
        </form>
    </div>
</body>
</html>